* {
  box-sizing: border-box;
  /* temp style to help with positioning of img elements */
  /* outline: red 1px solid; */
}

@font-face {
	font-family: comical;
	src: url('../fonts/animeace2_reg.otf');
}

body {
  background-color: black;
}

main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  float: left; /* to align div.ryu with div.hadouken */
  width: 659px;
  height: 494px;
}

.ryu-still, 
.ryu-ready,
.ryu-throwing,
.ryu-cool {
  width: 659px;
  height: 494px;
} 

/* by default, display .ryu-still by hiding the others */
.ryu-ready,
.ryu-throwing,
.ryu-cool {
  display: none;
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken,
.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  left: 530px;
  top:170px;
  z-index: 10;
}


