* {
  box-sizing: border-box;
  /* temp style to help with positioning of img elements */
  /* outline: red 1px solid; */
}

@font-face {
	font-family: comical;
	src: url('../fonts/animeace2_reg.otf');
}

body {
  background-color: black;
  font-family: comical;
}

main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
  float: left; /* to align div.ryu with div.hadouken */
  width: 400px; /* shortened from 659px so hover area closer to actual figure */
  height: 494px;
  z-index: 100;
}

.ryu-still, 
.ryu-ready,
.ryu-throwing,
.ryu-cool {
  width: 400px;
  height: 494px;
} 

.ryu-throwing { width: 659px }

/* by default, display .ryu-still by hiding the others */
.ryu-ready,
.ryu-throwing,
.ryu-cool {
  display: none;
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken,
.ryu-still,
.ryu-ready,
.ryu-throwing,
.ryu-cool {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  left: 530px;
  top:170px;
  z-index: 10;
}

.content {
  /* background-color: rgba(100, 100, 100, .2); */
  width: 620px;
  position: absolute;
  left: 500px;
  top: 100px;
  z-index: -1;
}
/* .intro {
  display:none;
  /* need to have display:none intially on each element selector to position individually
} */

.sf-logo {
  display: none;
  background: url('../images/sf-logo.png');
  background-repeat: no-repeat;
  left: 200px;
  width: 682px;
  height: 314px;
  
}

.jquery-logo {
  display: none;
  background: url('../images/jquery-logo.png');
  background-repeat: no-repeat;
  width: 500px;
  height: 172px;
  
}

.byline {
  display:none;
  font-size: 24px;
}

.instructions {
  display:none;
  font-size: 24px;
}

.instructions p {
  width: 300px;
}
.instructions p:first-child {
  color: rgb(35, 96, 226);
  float:left;
}

.instructions p:last-child {
  color: rgb(0, 110, 255);
  float:right;
  margin-top: 80px;
}